.image-container{
    width: 100%;
    height: 500px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 20px;
}

.image-container img:hover{
    opacity: 0.3;
}

.info-container {
    border-radius: 20px;
}

.carousel{
    padding: 30px 300px;
}

.text-container{
    position: absolute; 
    color: white; 
    font-size: 24px;
    margin-left: 5%;
    text-align: left;
    margin-top: 20%;
    
}

.p-carousel-container button{
    color: white;
    padding: 10px;
}

.p-carousel-items-content{
    border-radius: 20px;
}

.overview{
    font-size: 16px;
}