.image-container{
    width: 100%;
    height: 500px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;
}

.image-container img{
    width: 100%;
    height: 500px;
    object-fit: fill;
    border-radius: 20px;
}

.image-container img:hover{
    opacity: 0.3;
}

.info-container {
    border-radius: 20px;
}

.carousel{
    padding: 20px 320px;
}

.text-container{
    position: absolute; /* Posicionamiento absoluto dentro del contenedor relativo */
    color: white; /* Cambiar el color del texto para que sea visible */
    font-size: 24px; /* Ajusta el tamaño de fuente según tu preferencia */
    
}

